{
    "parser": "babel-eslint",
    "extends": [
        "button-platform",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react-hooks"
    ],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "no-console": "off",
        "indent": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}